<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BarberWeb</title>

        {% load django_bootstrap5 %}
        {% bootstrap_css %} 
        {% bootstrap_javascript %}
    </head>
    <body>
        <header>
            <div>
                <h1>BarberWeb</h1>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'barberback_app:index' %}"> 
                          Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'clientes:clientes' %}">
                          Clientes</a>
                    </li>
                    <li>
                        <a href="{% url 'agendamentos:agendamentos' %}">
                          Agendamentos</a>
                    </li>
                    <li>
                        <a href="{% url 'servicos:servicos' %}">
                          Serviços</a>
                    </li>
                    <li>
                        <a href="{% url 'profissionais:profissionais' %}">
                            Profissionais</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>{% block content %} {% endblock %}</main>

        <footer>
            <p>
                &copy; 2024 <span>BarberBack</span> - Gerenciamento Profissional para Barbearias.
            </p>
        </footer>
    </body>
</html>
