{% load django_bootstrap5 %}

<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>BarberWeb</title>

        {% bootstrap_css %} 
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container">
            <div>
                <h1>BarberWeb</h1>
            </div>
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" 
                           href="{% url 'barberback_app:index' %}">
                            Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                           href="{% url 'clientes:clientes' %}">
                            Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                           href="{% url 'agendamentos:agendamentos' %}">
                            Agendamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                           href="{% url 'servicos:servicos' %}">
                            Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" 
                           href="{% url 'profissionais:profissionais' %}">
                            Profissionais</a>
                    </li>
                </ul>
            </nav>
        </div>

        <main>{% block content %} {% endblock %}</main>

        <footer>
            <p>
                &copy; 2024 <span>BarberBack</span> - Gerenciamento Profissional para Barbearias.
            </p>
        </footer>
    </body>
</html>
