{% extends 'barberback_app/base.html' %} 

{% load django_bootstrap5 %}

{% block content %}

<div>
    <div class="container mt-4">
        <h3>Próximos agendamentos do dia</h3>
            {% for agendamento in agendamentos %}
                <div class="card mb-3" style="width: 38rem;">
                    <div class="card-header">
                        {{ agendamento.data_hora|date:"H:i" }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ agendamento.cliente.nome }}</h5>
                        <p class="card-text">
                            {{ agendamento.profissional.nome }}
                        </p>
                        <p class="card-text">
                            {{ agendamento.servico.nome}}
                        </p>
                        <a href="{% url 'agendamentos:detalhes_agendamento' agendamento.id %}" 
                        class="btn btn-primary">Detalhes</a>
                    </div>
                </div>
            {% endfor %}
    </div>

    <form action="{% url 'contas_admin:logout' %}" method="post">
        {% csrf_token %}
        
        {% bootstrap_button button_type="submit" content="Sair do sistema" %}
    </form>
</div>

{% endblock content %}
