{% extends 'barberback_app/base.html' %} 

{% load django_bootstrap5 %}
{% bootstrap_css %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 shadow p-4 rounded bg-light">
    <h2 class="mb-4 text-center">Criar Agendamento</h2>
      <form method="post">
          {% csrf_token %}
          
          {% bootstrap_form form %}

          <div class="d-grid gap-2">
            {% bootstrap_button button_type="submit" content="Salvar Alterações" button_class="btn-success" %}
          </div>
      </form>
  </div>
</div>

{% endblock content %}
