<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Logout | BarberBack</title>
    </head>
    <body>
        <div>
            <h1>BarberBack</h1>
            <br>
            <p>Você saiu com sucesso.</p>

            <div>
                <a href="{% url 'contas_admin:login' %}"> 
                    Entrar novamente</a>
            </div>
        </div>
    </body>
</html>
